<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand pull-left" routerLink="/">
        Your Company Brand
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" *dropdownMenu>
            <!-- always on -->
            <li role="menuitem"><a class="dropdown-item" routerLink="/">Home</a>
            <!-- sans auth -->
            <li class="divider dropdown-divider" *ngIf="!authService.isAuthenticated()"></li>
            <li role="menuitem" *ngIf="!authService.isAuthenticated()">
              <a class="dropdown-item" (click)="loginModal.show();">Login</a>
            </li>
            <li role="menuitem" *ngIf="!authService.isAuthenticated()">
              <a class="dropdown-item" (click)="registerModal.show()">Register</a>
            </li>
            <li role="menuitem" *ngIf="!authService.isAuthenticated()">
              <a class="dropdown-item" (click)="forgotPasswordModal.show()">Forgot Password</a>
            </li>
            <!-- avec auth -->
            <li role="menuitem" *ngIf="authService.isAuthenticated()">
              <a class="dropdown-item" (click)="onLogout()">Log out</a>
            </li>
            <li role="menuitem" *ngIf="authService.isAuthenticated()">
              <a class="dropdown-item" routerLink="logged-in">Logged In Home</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<app-login-modal #loginModal></app-login-modal>
<app-register-modal #registerModal></app-register-modal>
<app-forgot-password-modal #forgotPasswordModal></app-forgot-password-modal> 